<%- include("../../partials/header") %>
<%- include("../../partials/navbar") %>

<div class="container">
  <h1>Usuários</h1>
  <hr>
  <a href="/admin/users/create" class="btn btn-success">Cadastrar novo usuário</a>
  <hr>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
      </tr>
      <%})%>
    </tbody>
  </table>
</div>

<%- include("../../partials/footer") %>

<script>
  function confirmar(event, form, title) {
    event.preventDefault();
    var decision = confirm(`Tem certeza que deseja excluir a categoria ${title}?`);
    if (decision) {
      form.submit();
    }
  }
</script>